/*
---------------------Utils
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.separation-light {
  border-bottom: 2px solid white;
}

.separation-dark {
  border-bottom: 2px solid black;
}

.separation-gray {
  border-bottom: 2px solid #4e4e4e;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

br::-moz-selection {
  background-color: transparent;
}

br::selection {
  background-color: transparent;
}

*::-moz-selection {
  background-color: #FF6B6B;
  color: white;
}

*::selection {
  background-color: #FF6B6B;
  color: white;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*
---------------------Components
*/
.SplashScreen {
  width: 100%;
  height: 100vh;
  background-image: url("./../public/resources/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SplashScreen img {
  width: 250px;
}

.SplashScreen h1 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #0A5179;
  font-family: "Roboto", sans-serif;
}

.LoginScreen {
  width: 100%;
  height: 100vh;
  background-image: url("./../public/resources/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LoginScreen img {
  margin-top: 200px;
  width: 175px;
}

.LoginScreen div {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  width: 80%;
  min-width: 100px;
}

.LoginScreen div select {
  font-family: "Roboto", sans-serif;
  height: 65px;
  width: 100%;
  padding: 0px 20px;
  -webkit-box-shadow: #0000003d 0 4px 4px 2px;
          box-shadow: #0000003d 0 4px 4px 2px;
  border-radius: 15px;
  font-size: 22px;
  border-style: none;
}

.LoginScreen div input {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  height: 65px;
  width: 100%;
  padding: 0px 20px;
  -webkit-box-shadow: #0000003d 0 4px 4px 2px;
          box-shadow: #0000003d 0 4px 4px 2px;
  border-radius: 15px;
  font-size: 22px;
  border-style: none;
}

.LoginScreen div button {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  height: 65px;
  width: 100%;
  -webkit-box-shadow: #0000003d 0 4px 4px 2px;
          box-shadow: #0000003d 0 4px 4px 2px;
  border-radius: 15px;
  font-size: 28px;
  border-style: none;
  font-weight: 500;
  color: white;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #1290D7;
  cursor: pointer;
}

.LoginScreen div button:hover {
  background-color: #116799;
}

.LoadCSVScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 150px;
  width: 100%;
  height: 300px;
}

.TestScreen {
  width: 100%;
  height: 100vh;
  background-color: aqua;
}

* {
  font-family: "Lato", sans-serif;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

img {
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */