/*
---------------------Utils
*/

@import './utils/_breakpoints.scss';
@import './utils/_fonts.scss';
@import './utils/_colors.scss';
@import './utils/_separation.scss';
@import './utils/_reset.scss';


/*
---------------------Components
*/

@import './components/_LoadCSVScreen.scss';

* {

    font-family: $lato;
}

html {
    width: 100%;
}

body {
    width: 100%;   
}

img {
    user-drag: none;
    user-select: none;
}



.hidden {
    display: none;
}